<head>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Vidaloka" rel="stylesheet">
  <style type="text/css">
    body {
      background-image: url("<a href="https://www.freepik.com/free-photo/pc-student-happy-shopping-people-outdoor_1212364.htm">Designed by Freepik</a>");
      background-size: cover;
    }

    .container1 {
        position: inline-block;
    }
  </style>
</head>

<body>
    <h1>Your Fashion Events!</h1>
    <div class="container1">
        <%= form_for :event, url: events_path do |f| %>
    <p>
        <%= f.label :url %><br>
        <%= f.text_field :designer %>
    </p>

    <p>
        <%= f.submit "Add event", class: "btn btn-large btn-primary" %>
    </p>
    </div>


    <div class="footer">
        <%= link_to("Go Back", users_path) %>
        <%= link_to("Edit", edit_user_path(@user)) %>
        <%= link_to("Delete", user_path(@user), method: "delete", data: {confirm: "Are you sure you want to delete this event?"}) %>
    </div>
    <% end %>
</body>



