<!DOCTYPE html>
<html>
  <head>
    <title>CollectionApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>
    <div id="navigation">
      <% if logged_in? %>
        Signed In As: <%= current_user.name %>
        <%= link_to("Logout", logout_path, method: "delete") %>
      <% else %>
	      <%= link_to("Log In", new_session_path) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
